*,*::before,*::after{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.axton-label{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin:.25em auto;
}
.axton-label > span{
    color:red;
}
.axton-label > input{
    height:25px;
    width:200px;
}
.axton-label > textarea{
    height:50px;
    width:200px;
}
.axton-form > input[type="submit"]{
    padding:.25em 1em;
    font-size:1em;
    background:transparent;
    cursor:pointer;
    transition:.25s ease;
}
.axton-form > input[type="submit"]:hover{
    transform:scale(1.06);
}
.axton-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.axton-form > span{
    font-size: 1.5em;
}
/* The Modal (background) */
#emma-utils-modal {
    display: none;
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}
/* Styling for close button */
.modal-close {
    color: #aaa;
    font-size: 30px;
    font-weight: 500;
    position:absolute;
    top:.25em;
    right:.5em;
    }
    .modal-close:hover,
    .modal-close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}
.erase-button{
    border:2px solid black;
    padding:.75em;
    position:absolute;
    left:50%;
    top:25%;    
}
.erase-button:hover{
    cursor:pointer;
}
/* Outer Modal Content Styling */
.modal-content {
    position: relative;
    margin: 7% auto;
    height:600px;
    width: 40%;
    animation-name: animatetop;
    animation-duration: .75s;
}
/* Inner Modal Content Styling */
.modal-inner {
    background-color:rgb(228, 228, 228);
    height:80%;
    width:100%;
    padding:1em;
    display:flex;
    justify-content: center;
    align-items:center;
}
/* Add Animation */
@keyframes animatetop {
    from {top: -600px; opacity: 0}
    to {top: 0; opacity: 1}
}
@media (max-width: 1024px) {
/* Selectors and styles affecting screens UP TO 1024px (Large Tablet/Desktop) */
.modal-content{
    width:50%;
}
}
@media (max-width: 768px) {
/* Selectors and styles affecting screens UP TO 768px (Small Tablet) */
   
}
@media (max-width: 500px) {
/* Selectors and styles affecting screens UP TO 480px (Phone) */
    .modal-content{
        width:75%;
    }
}